body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e3f2fd;
	margin: 0;
}

.card {
	width: 600px;
	background: #6da1b4;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 2px 8px #0001;
	text-align: center;
	font-family: "Noto Sans TC", Arial, sans-serif;
}
.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	margin: 0 auto 24px auto;
	border: 3px solid #90caf9;
}
.name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}
.title {
	font-size: 36px;
	color: #0058af;
	margin-bottom: 24px;
}
.line {
	border: none;
	border-top: 1px solid #90caf9;
	margin: 24px 0;
}
.desc {
	font-size: 24px;
	color: #1c1c1c;
	line-height: 1.6;
}
