body {
	background-color: #161515;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.headerBox {
	display: flex;
	width: 95%;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
}
.headerBox .title {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.headerBox .iconBox {
	display: flex;
	align-items: center;
}
.linkBox {
	height: 100%;
}
.linkBox li a {
	text-decoration: none;
	color: #8e8e8e;
	font-size: 18px;
	margin: 0 10px;
}
.linkBox li {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.linkBox ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
}

.linkBox li:hover {
	background-color:#1B191A;
}
.linkBox li:hover a {
	color: white;
}

.searchTextBox .searchText {
	color: #8e8e8e;
}

.contentBox{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contentBox .titleBox{
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 30px;
}
.contentBox .titleBox .titleTextBox {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.contentBox .titleBox h1 {
	font-size: 42px;
	margin: 20px 0;
}
.contentBox .imageBox {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contentBox .imageBox img{
	width: 30%;
	height: auto;
}